body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background */
    color: #e6e6e6; /* Light text */
}

header {
    background-color: #333333; /* Darker header background */
    color: #e6e6e6;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fbb034; /* Highlight color */
    text-decoration: none;
}

main {
    padding: 20px;
}

.intro {
    text-align: center;
}

.portfolio {
    max-width: 800px;
    margin: 0 auto;
}

.project {
    background-color: #333333; /* Matching portfolio project background */
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Slight shadow */
}

.project h3 {
    margin-top: 0;
}

footer {
    background-color: #333333;
    color: #e6e6e6;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-links a {
    color: #fbb034; /* Highlight color */
    margin: 0 10px;
    text-decoration: none;
}
